/.vscode
/4_Practice_SQL
/4_timestamp.sql
/csv_files
/latihan_subquery_cte_dataset.sql
/latihan_subquery_cte_full.sql
/latihan_subquery_focus.sql
/sql_course.session.sql
/sql_practice.session.sql
/__MACOSX